.logo {
  margin: 16px;
  background: rgb(133 160 171);
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo > h1
{
  margin: 0;
  color: #f7f7f9;
}

.d_logo {
  margin: 16px;
  background: #252d3f;
  display: flex;
  justify-content: center;
  align-content: center;
}


.d_logo > h1
{
  margin: 0;
  color: #f7f7f9;
}

.layout {
  min-height: 100vh;
}

.sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  background: #f7f7f9;
  -webkit-box-shadow: 6px 0px 9px -1px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 6px 0px 9px -1px rgba(34, 60, 80, 0.07);
  box-shadow: 6px 0px 9px -1px rgba(34, 60, 80, 0.07);
}

.d_sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgb(0 0 0);
  -webkit-box-shadow: 6px 0px 9px -1px rgba(49, 49, 49, 0.22);
  -moz-box-shadow: 6px 0px 9px -1px rgba(49, 49, 49, 0.22);
  box-shadow: 6px 0px 9px -1px rgba(37, 45, 63, 0.2);
}

.ant-menu
{
  background: rgb(133 160 171 / 10%) !important;
}

.right-layout {
  margin-left: 200px;
  background: url("https://org.mephi.ru/images/cream_pixels.png");
}


.d_right-layout {
  margin-left: 200px;
  background: url("https://i.postimg.cc/Hnd1tgYD/image.png");
}

.head {
  background: rgb(133 160 171);
  padding: 0;
}

.d_head {
  background: #252d3f;
  padding: 0;
}
.content {
  margin: 24px 16px 0;
  overflow: initial;
  background: url("https://org.mephi.ru/images/cream_pixels.png");
}


.d_content {
  margin: 24px 16px 0;
  overflow: initial;
  background: url("https://i.postimg.cc/Hnd1tgYD/image.png");
}

.inner-content {
  height: 100%;
  padding: 24px;
  text-align: center;
}

nz-footer {
  text-align: center;
}



.ant-menu-item-selected {
  color: white !important;
  background-color: rgba(133, 160, 171, 0.37) !important;
}
